#state {
  position: absolute;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  top: 518px;
  bottom: 10px;
  border: 1px solid #9C9898;
  background: rgba(255, 255, 255, 1);
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hide;
  color: rgba(0, 0, 0, 1);
  display: none;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse:collapse;
}
#state td, #state th 
{
  font-size:1.2em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
}
#state th
{
  font-size:1.4em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#fff;
}
#state tr.alt td 
{
  color:#000;
  background-color:#EAF2D3;
}
#buyinventorybutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buysnowpotionbutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buyroyalazaleabutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buyrainbowaprobutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buycokearmorbutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buyfriedpotatoarmorbutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buyburgerarmorbutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buyradisharmorbutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buyhalloweenjkarmorbutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buyfrankensteinarmorbutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#buyarcherbutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#sendbuyarcherbutton {
  position: relative;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#passwordchangebutton {
  position: relative;
  width: 256px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#sendpasswordchangebutton {
  position: relative;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#pubacceptbutton {
  position: relative;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#pubrejectbutton {
  position: relative;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  background: rgba(255, 0, 0, 0.7);
  text-align: center;
}
#newpubacceptbutton {
  position: relative;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}
#newpubrejectbutton {
  position: relative;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  background: rgba(255, 0, 0, 0.7);
  text-align: center;
}
